<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <style>
        span{
            color:green;
            fon-size: 10px;

        }
    </style>
</head>
<body>
    <p>Hello, <span>{{ username }}</span>,</p>
    <p>You requested a password reset. Click the link below to reset your password:</p>
    <p><a href="{{ reset_password_url }}">Reset Password</a></p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Thank you,<br>Swahilipot Asset Management Team</p>
</body>
</html>
